.header-btn, .primary-btn {
    background-color: #FD9D17;
}
ul.why_list li{
	list-style:square;
}
.home-about-area .home-about-left .primary-btn {
	 background-color: #FD9D17;

}
.about-content {
    margin-top: 20px !important;
    padding: 120px 0 0 0 !important;
    text-align: center !important;
}
.single-service:hover {
    cursor: auto !important;
}
.pull-left{
	float: left !important;
}
.pad_fix{
	padding: 0;
}
.pad_lt_fix{
	padding-left: 0;
}

/*ul.nav-menu li a:hover{
	border-bottom: 1px solid #FD9D17;
	
}*/